body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-color: lightsalmon;
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    text-align: center;
}

button {
    all: unset; /*設定を一括リセットして再設定 */
    padding: 4px 8px;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    transition: background 300ms;

}

/* マウスを上にかざしたとき */
button:hover {
    background: black;
    color: white;
}

/* 著作権有効 */
.copyright-valid {
    color: red;
}

/* 著作権失効済 */
.copyright-expired {
    color: green;
}

/* 結果表示欄 */
#resultArea {
    margin-top: 20px;
    font-weight: bold;
}

/* モバイルファースト*/
@media(min-width: 800px) {
    body {
        background: lightyellow;
    }
}

/* @media (min-width: 600px) {
    body {
        /* width: calc((100% - 16px) / 2);
        width: 100%; */
    /* } */
/* } */ 